# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
dist/
build/
*.spec

# Virtual environment
venv/
.env/

# IDE-specific
.vscode/
.idea/
*.swp
*.swo

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos generados por la aplicación
*.log
*.sqlite
*.db

# Archivos temporales
*.tmp
*.bak

# AI specific
CLAUDE.md
Agents.md